<%- include("partials/header") %>

    <h1>What would you like to do today?</h1>

    <div class="alignment-box">

        <div class="all-lists">
            <nav>
                <ul>
                    <a href="/">Main</a>
                    <a href="/work">Work</a>
                    <a href="/chores">Chores</a>
                </ul>
            </nav>

            <div class="list-main">
                <% toDoItemsMain.forEach(item => { %>
                    <div class="list-items">
                        <input type="checkbox" name="<%= item %>" autocomplete="on">
                        <label for="<%= item %>">
                            <%= item %>
                        </label>
                        <hr>
                    </div>
    
                    <% }); %>
    
                        <div class="new-item-form">
                            <form action="/" method="post">
                                <input type="text" placeholder="Today I would like to..." name="toDoItem">
                                <button type="submit" name="submit" value="Add Item">Add Item</button>
                            </form>
                        </div>
    
            </div>

        </div>

    </div>


    <%- include("partials/footer") %>





        <!-- dynamic, stylized clock that reads out the current time. -->

        <!-- 
sub to-do list categories (work, home, etc) -- accessed via tabs above the main list
a primary to-do list that includes everything from each category?
dropdown menu by the to-do adding form that allows you to select which list the to-do item goes to

checkboxes
move items down to the bottom of the list when they get crossed out? <-- maybe use app.put or app.patch for this

once you cross off all items for the day, you get to "roll the dice" or "spin the wheel" for a chance at getting a token

-->

        <!-- MAYBE EVENTUALLY
ability to create a daily (time-stamped) schedule
reminders
 -->

        <!-- QUOTES/CONTENT
This to-do list works with you, not for you. As the saying goes, you get out what you put in. So, be honest with yourself, be kind to yourself, and when you've done what you set out to do, don't be afraid to occasionally treat yo' self.

It's worth noting that the intention of the Treat Yo'Self Token is to enhance your motivation and focus both in the moment and big-picture, not to snuff out your motivation or diminish your focus. So while some of the features (random chance, cookie crumbs) and mechanisms (reward pathways and dopamine) may be shared with, say, a slot machine, I prefer to think of it in an evolutionary sense (albeit very simplified). The fruits of your labor are satisfyingly sweet because they nourish you. Put another way, it is my hope that you distinguish between a Treat Yo'Self Treat that enriches your life while considering the inevitability of consequences rather than a blowout night of drinking that leaves you bedridden 12 hours the next day. 

-->